body {
    background-image: url('swirling.jpg')!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: darkblue;
    
}
a:link {
    text-decoration: none;
    text-orientation: ltr;
}
h1 {
    color: white;
}
.container {
    display: flex;
    background: dodgerblue;
    justify-content: space-between;
    
}
.Title {
    text-align: center;
    font-size: larger;
}


.container div {
    background: rgb(37, 65, 181);
    width: 10000px;
    height: 55px;
    text-align: center;
    border: 2px solid;
    border-color: white;
    
}
.media{
    display: flex;
    align-items: center;
    
}
video {
    border-width: thick;
    border-style: ridge;
    right: 0px;
    max-width: 50%;
    margin: auto;

}
img {
    max-width: 49%;
    width: 1200px;
    height: 410px;
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 15px;
    
}
tr {
    background-color:blanchedalmond;
    font-style: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-style: double;
}
.bordered-table {
    border-collapse: collapse; 
    background-color: white;
    width:350px;
}

.bordered-table th, .bordered-table td {
    border: 1px solid #000; 
    text-align: center; 
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}


@media screen and (min-width:500px) {
    
    .container {
        background: antiquewhite;
    }
    video {
        display: flex;
    }
}
.my-buttons {
    display: block;
    padding: 20px 15px;
    color: whitesmoke;
    font-weight: bold;
    cursor: crosshair;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.my-buttons:hover {
    background-color: rgb(146, 206, 238);
    font-size: 20px;
    height: 25px;
    width: 500px;
    align-content: left;
    transform: rotateY(360deg);
    transition: transform 0.3s ease;
}
@media screen and (max-width: 900px) {
    .my-buttons:hover   {
        width: 250px;
    }
}
@media screen and (max-width: 500px)
{
    .my-buttons:hover   {
        width: 150px;
    }
}
